@import "compass/typography/lists/horizontal-list";
@import "globals.scss";

.pto-social_flickr-feed {
    
}
.pto-social_flickr-feed-container {
    position: relative;
    display: inline-block;
}
.pto-social_flickr-feed-row {
    display: inline-block;
    position: relative;
    width: 100%;
    max-height: 100px;
    min-width: 450px;
    font-family: $ptoFontfamily;
    background-color: #AD2B65;
    margin-bottom: 10px;
    color: #f5dbe7;
    font-size: 0.9em;
    line-height: 1.3em;
    h2 {
        font-family: Arial, Arial, _sans;
        font-size: 1.4em;
        line-height: 1.2em;
        color: #FFF;
        // truncate next
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    img {
        float: left;
        display: inline-block;
        width: 100px;
    }
    small {
        padding-right: 10px;
    }
    a {
        color: #FFF;
        text-decoration: none;
    }
    a:hover {
        color: #FFF;
        text-decoration: underline;
    }
}
    .pto-social_flickr-image {
        width:100px;
        height: 100px;
        display: block;
        float: left;
        margin-right: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .pto-social_flickr-info {
        padding-right: 20px;
        display: block;
    }

.pto-social_flickr-detail {
    background-color: #AD2B65;
    font-family: $ptoFontfamily;
    height: auto;
    width: calc(100% - 40px);
    min-width: 450px;
    display: block;
    position: absolute;
    z-index: 10;
    top: 0px;
    padding: 20px;
    color: white;

    a {
        color: #FFF;
        text-decoration: none;
    }
    a:hover {
        color: #FFF;
        text-decoration: underline;
    }
    ul {
        padding: 0;
        li {
            @include horizontal-list-item(0, left);
            padding-right: 14px; 
        }
    }
    

    .close {
        float: right;
    }
}