<section class="pto-social_flickr-feed-container" ng-show="!flkrUiListCtlr.showDetail">
    <article class="pto-social_flickr-feed-row" ng-repeat="item in flkrUiListCtlr.feedListFormatted track by $index">
        <div class="pto-social_flickr-image" ng-click="flkrUiListCtlr.gotoDetail(item)" ng-style="{'background-image': 'url(' + item.image + ')'}"></div>
        <div class="pto-social_flickr-info">
            <h2 ng-click="flkrUiListCtlr.gotoDetail(item)">{{item.title}}</h2>
            <small class="hideOnDesktop">Published {{item.formattedDate}} at {{item.formattedTime}}<br></small>
            <small><a ng-href="https://www.flickr.com/photos/{{item.authorId}}" target="_blank">{{item.authorName}}</a></small>
            <small class="hideOnTablet">Published {{item.formattedDate}} at {{item.formattedTime}}</small>
            <small><a href="{{item.link}}" target="_blank">View on Flickr</a></small>
        </div>
    </article>
</section>
<flickr-feed-ui-detail class="pto-social_flickr-detail" reveal="flkrUiListCtlr.showDetail" ng-model="flkrUiListCtlr.selectedDetail" close="flkrUiListCtlr.closeDetail()"></flickr-feed-ui-detail>